<h1>Editing Link</h1>

<div class="panel panel-default" id="link-edit-panel">
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @link %> |
<%= link_to 'Back', links_path %>
